# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

In [8]:
list((1,2,3,4))

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

In [12]:
# Method 1
nums=[1,2,3,4]
nums.remove(3)
print(nums)

[1, 2, 4]

In [13]:
# Method 2
nums=[1,2,3,4]
nums.pop(2)
print(nums)

[1, 2, 4]

In [14]:
# Method 3
nums=[1,2,3,4]
del nums[2]
print(nums)

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [22]:
lst = [2,3,4]
lst.insert(0,1)
print(lst)

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

In [23]:
lst.insert(2,"two-and-half")
print(lst)

[1, 2, 'two-and-half', 3, 4]

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [1]:
# CODE HERE
phrase="Don't panic!"
list(phrase)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

In [33]:
# Code here
phrase="Don't panic!"
l1=list(phrase)
l1.remove("'")
l1.remove("!")
print(l1)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

In [35]:
# CODE HERE
l1=['D','o','n','t',' ','p','a','n','i','c']
l1.remove("p")
l1.remove("a")
l1.remove("n")
l1.remove("D")
l1.append("p")
l1.append("a")
l1.append("n")
l1.append("D")
print(l1)

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

In [36]:
# CODE HERE
"".join(["p","a","n","D","a"])

'panDa'

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [56]:
# CODE HERE
T=tuple((31,24,35,85))
print("data type {}".format(type(T)))
print(T)

data type <class 'tuple'>
(31, 24, 35, 85)

data type <class 'tuple'>
(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

In [57]:
# CODE HERE
l=list(T)
l.remove(35)
T=tuple(l)
print(T)

(31, 24, 85)

(31, 24, 85)

**Extent** tuple (85,19)

In [65]:
# CODE HERE
l2=list(T)
l3=[85,19]
l2.extend(l3)
print(tuple(l2))

(31, 24, 85, 85, 19)

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

In [68]:
# CODE HERE
tpl=('i','n','n','0')
for y in tpl:
    if y=='i':
        print(True)

True

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

In [72]:
# CODE HERE
list = ['Hello',100,[],'innomatics']
list[2]=[200]
print(list)

['Hello', 100, [200], 'innomatics']

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

In [93]:
# CODE HERE
tpl = ("Innomatics")
l=[]
for y in tpl:
    l.append(y)
l.reverse()
tuple(l)

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [94]:
tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [25]:
# CODE HERE              
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

l=[]
for y in tpl:
    y=list(y)
    y.append(100)
    l.append(tuple(y))
print(l)

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

In [24]:
# CODE HERE
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

l=[]
for y in tpl:
    y=list(y)
    y[2]=100
    l.append(tuple(y))
print(l)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [39]:
# CODE HERE
numbers='523665'

x=list(set(numbers))
x.sort()

print("second highest is: ",x[-2])

second highest is:  5

5 2 4 6 2 2
second higest is : 5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [2]:
# By using list comprehension, please write a program to print the list after 
#removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].
l=[12,24,35,70,88,120,155]
l1=[l[y] for y in range(len(l)) if (y!=0 and y!=4 and y!=5)]
print(l1)

[24, 35, 70, 155]

In [50]:
# CODE HERE      List comprehension is not covered in the syllabus 
l=[12,24,35,70,88,120,155]
l1=[]
for y in range(len(l)):
    if y!=0 and y!=4 and y!=5:
        l1.append(l[y])
    else:
        continue
print(l1)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [157]:
tpl=(1,2,3,4,5,6,7,8,9,10)
tpl1=tpl[0:len(tpl)//2]
tpl2=tpl[len(tpl)//2:]
print(tpl1,tpl2)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [13]:
tpl=(1,2,3,4,5,6,7,8,9,10)
l1=list(tpl)
l2=[]
#print(list)
for y in l1:
    if y%2!=0:
        continue
    l2.append(y)
print(tuple(l2))

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

In [ ]:
# Solution
#Lists are mutable i.e after creation the elements can be replaced added or deleted
#tuples are immutable i.e once they are created the elements cannot be replaced added or deleted

### 2. Explain the difference between append() and extend() with examples

In [ ]:
# Solution
#append is a list method where we can add a single element without replacement at the end of the list
#extend is a list method where we can add n number of sequential data without replacement at the end of the list

### 3. Explain the difference between pop() and remove() with examples

In [ ]:
# Solution
#pop() is a list method by using which we can remove an element from a specified index from the list
#remove() is a list method by using which we can remove an specified element from the list. (here index value is not needed)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)