# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [7]:
# CODE HERE
s=set((1,2,"innomatics","hub"))
s

{1, 2, 'hub', 'innomatics'}

In [9]:
s

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [5]:
# CODE HERE
s.add("Technology")
print(s)

{1, 2, 'innomatics', 'hub', 'Technology'}

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [6]:
# CODE HERE
sc=set((3,4,"hub","Technology"))
sc

{3, 4, 'Technology', 'hub'}

In [12]:
sc

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [13]:
# CODE HERE
s=s.difference(sc)
s

{1, 2, 'innomatics'}

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [20]:
s={1, 2, 'Technology', 'hub', 'innomatics'}
s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [27]:
# CODE HERE
s.remove(2)
s

{1, 'Technology', 'hub', 'innomatics'}

In [18]:
s

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [25]:
# CODE HERE
s.intersection(sc)

{'Technology', 'hub'}

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [28]:
# CODE HERE
s.union(sc)

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

{1, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [41]:
# CODE HERE
fruits = {"orange",'apple','kiwi'}
colors = ['orange','red','green']
set2=set(colors)
fruits=fruits.union(set2)
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

In [2]:
fruits

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [46]:
# CODE HERE
set1 = {10, 20, 30, 40, 50}
set2 ={10,20,30}
set1.difference_update(set2)
set1

{40, 50}

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)