# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [23]:
# CODE HERE
person1={'Name': 'John','Gender': 'Male','Occupation': 'Data Scientist','Location': 'Nizampet, Hyderabad'}
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

In [24]:
person1

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet, Hyderabad'}

> print keys in person1 as a list

In [25]:
# CODE HERE
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

['Name', 'Gender', 'Occupation', 'Location']

> **`Question:` Remove Location in person1**

In [2]:
# CODE HERE
person1={'Name': 'John','Gender': 'Male','Occupation': 'Data Scientist','Location': 'Nizampet, Hyderabad'}
person1.pop('Location')
person1["Age"]=27
person1

{'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}

{'Age': 27,
 'Gender': 'Male',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [44]:
# CODE HERE
person2={'Age':25,'Gender':'Male','Name':'Raghu Ram','Occupation':'Data Scientist'}
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

In [5]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [49]:
# CODE HERE
person1={'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
print("==================== person1 ====================")
print(person1)
print("==================== person2 ====================")
print(person2)

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

==================== person1 ====================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
==================== person2 ====================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [55]:
# CODE HERE
d1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
# To delete using del keyword and delete the Key and Value of Index 1
del d1[1]
print(d1)

# To delete using pop() method and deleting Key and Value of dictionary when Key 2

d1.pop(2)
print(d1)

# To delete randomly the last item both Key and Value will be deleted

d1.popitem()
print(d1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{3: 9, 4: 16, 5: 25, 6: 36}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [67]:
# CODE HERE
d2={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
l1=list(d2.values())
l1.sort(reverse=True)
print(l1)

<class 'list'>
[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [79]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
dict1.update(dict2)
dict1.update(dict3)
print(dict1)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [83]:
# CODE HERE
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [85]:
# CODE HERE
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
sampleDict["class"]["student"]["marks"]["history"]

80

80

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [93]:
# CODE HERE
d1={'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}
d1["Area"]='Nizampet, Hyderabad'
d1.pop('Location')
d1

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

{'Gender': 'Male',
 'Area': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [9]:
# CODE HERE                      

database = {'ram':1234,'raghu':5678,'kanav':1357}
username=input("Type the user name: ")
password=int(input("Type the password: "))
if username=="ram"and password==1234 or username=="raghu"and password==5678 or username=="kanav"and password==1357:
    print("hello {}".format(username))
elif username!="ram"or password!=1234 and username!="raghu"or password!=5678 and username!="kanav"and password!=1357:
    print("HI")
    new_username=username
    new_password=password
    U1=input("username and password does not match, do you want to add in to the database? y/n: ")
    if U1=="y"or U1=="Y":
        database[new_username]=new_password
    
    print(database)

Type the user name: ram
Type the password: 3455
HI
username and password does not match, do you want to add in to the database? y/n: y
{'ram': 3455, 'raghu': 5678, 'kanav': 1357}

'kadj'

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)