# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**

volume = 4/3 pi $r ^3$

In [1]:
def vol(rad):
    volume=(4/3)*(22/7)*rad**3
    return volume
r=float(input("Type the radius: "))
print("Volume is: ",vol(r))

Type the radius: 4.5
Volume is:  381.8571428571428

___
**Write a function that checks whether a number is in a given range (Inclusive of high and low)**

In [30]:
def ran_check(num,low,high):
    if num>=low and num<=high:
        print("The Number is in the Range")
    else:
        print("The Number not in Range")
ran_check(3,1,10)

The Number is in the Range

In [3]:
ran_check(3,1,10)

The Number is in the Range

If you only wanted to return a boolean:

In [29]:
def ran_bool(num,low,high):
    if num>=low and num<=high:
        print("True")
    else:
        print("False")
ran_bool(3,1,10)

True

In [2]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

If you feel ambitious, explore the Collections module to solve this problem!

In [28]:
def up_low(s):
    upper=""
    lower=""
    for y in range(len(s)):
        if s[y].isupper():
            upper=upper+s[y]
        elif s[y].islower():
            lower=lower+s[y]
    print("No. of Upper case characters :",len(upper))
    print("No. of Lower case characters :",len(lower))
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters : 4
No. of Lower case characters : 33

In [10]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [27]:
def unique_list(l):
    s1=set(l)
    print(list(s1))
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [6]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [26]:
def multiply(numbers):  
    count=1
    for y in range(len(numbers)):
        count=numbers[y]*count
    print(count)
multiply([1,2,3,-4])

-24

In [8]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [33]:
def palindrome(s):
    l1=list(s)
    l1.reverse()
    s1="".join(l1)
    if s==s1:
        print("True")
    else:
        print("False")
palindrome('helleh')

True

In [0]:
def palindrome(s):
    # code here

In [0]:
palindrome('helleh')

True

## Given a number N.Find Sum of 1 to N Using Recursion

In [25]:
# CODE HERE
def summation(n):
    if n==1:
        return 1
    else: 
        return n+summation(n-1)

n = int(input())
sum = summation(n)
print(sum)

10
55

In [13]:
n = int(input())
sum = summation(n)
print(sum)

10
55

### Define a function which can generate and print a list where the values are square of numbers between 1 and 20

In [39]:
#NEEDS WORK
def printList(l):
    z=[]
    for y in range(len(l)):
         z.append(l[y]**2)        
  
    return z  
q=printList(range(1,21))
print(q)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

### Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [35]:
def printDict():
    dict={}
    for i in range(1,21):
        dict[i]=i**2
    print(dict.keys())
printDict()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

### Write a function that count the no of characters of the given input text
- input
    - innomatics research labs
    
- output
    - innomatics :10
    - research : 8
    - labs : 4

In [2]:
def count_alpha():
    s=input("Type the text sentence: ")
    l=s.split(" ")
    for y in l:
        print("{} :{}".format(y,len(y)))
count_alpha()

Type the text sentence: innomatics research labs
innomatics :10
research :8
labs :4

### Write a program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

Using map() function

In [24]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squaredNumbers=map(lambda x:x**2,li)
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
# CODE HERE
# No different way of code is written as the requirment is specificly mentioned in problem description

li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#Code here

print(list(squaredNumbers))  # converting the object into list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Write a program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].
##### using filter()

In [20]:
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even=list(filter(lambda x:x%2==0, li))
squer=list(map(lambda x:x**2,even))
print(squer)

[4, 16, 36, 64, 100]

In [2]:

def even(x):
#Code here


def squer(x):
    #Code here


li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# code here
# first filters number by even number and the apply map() on the resultant elements
print(list(li))

[4, 16, 36, 64, 100]

### Write a program which can filter() to make a list whose elements are even number between 1 and 20 (both included)

In [21]:
list(filter(lambda x:x%2==0,range(1,21)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [3]:
# CODE HERE
def even(x):
#code here


evenNumbers = filter(even, range(1, 21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### $f(n)=f(n-1)+f(n-2)$ if n>1

In [23]:
# fibonacci series 0,1,1,2,3,5,8,13,21 for n<=1 value we return n
def f(n):
    if n<=1:
        return n
    else:
        return (f(n-1)+f(n-2))
n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

In [4]:
def f(n):
# Code here


n = int(input("Enter n value"))
print(f(n))

Enter n value7
13

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)