# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

## Basics of Python

> `Question:` Print your name

In [3]:
# CODE HERE
name=input("Type your name: ")
print("My name is {}".format(name))

My name is Innomatics

> `Question:` What is a variable? Write a Few words about Variables. Create a Variable with an Example.

In [4]:
# WRITE HERE
# Variable is a name given to a memory location. In simple terms we can say it is a container of data. Variables need to follow 
# naming conventions. They can start with alphabets and underscore. They can contain alphabets and numbers but not 
#special characters. They are case-sensitive in python.

In [ ]:
# Code Here
var1="abcdef"

>`Question:` Assume that we execute the following assignment statements:
width = 17
height = 12.0
delimiter = '.'
For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5

In [2]:
# CODE HERE
width=17
height=12.0
delimiter="."
print("1. width/2 = ",width/2)
print("2. width/2.0 = ",width/2.0)
print("3. height/3 = ", height/3)
print(1+2*5)
print(delimiter*5,type(delimiter*5))

1. width/2 =  8.5
2. width/2.0 =  8.5
3. height/3 =  4.0
11
..... <class 'str'>

# Sample Outputs
1. width/2 = 8.5
2. width/2.0 = 8.5
3. height/3 = 4.0
4. 11
5. .....

> `Question:` Add two number by taking variable names as first and seccond

In [3]:
#CODE HERE
first=int(input("Type the first number: "))
second=int(input("Type the second number: "))
print("first number is : {}".format(first))
print("second number is : {}".format(second))
print("Addition of two numbers are : {}".format(first+second))

Type the first number: 100
Type the second number: 200
first number is : 100
second number is : 200
Addition of two numbers are : 300

first number is : 100
second number is : 200
Addition of two numbers are : 300

> `Question:` Add your first name and second name

In [4]:
# CODE HERE
first=input("Type the first name: ")
second=input("Type the second name: ")
space=" "
print("My first name is : {}".format(first))
print("My second name is : {}".format(second))
print("My full name is : {}".format(first+space+second))

Type the first name: Sachin
Type the second name: Tendulkar
My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

My first name is : Sachin
My second name is : Tendulkar
My full name is : Sachin Tendulkar

> `Question:` print the datatypes of the following
- 10,'10',True,10.5

In [4]:
# CODE HERE
print(10,"-",type(10))
print('10',"-",type(10))
print(True,"-",type(True))
print(10.5,"-",type(10.5))

10 - <class 'int'>
10 - <class 'int'>
True - <class 'bool'>
10.5 - <class 'float'>

10 -  <class 'int'>
'10' -  <class 'str'>
True -  <class 'bool'>
10.5 -  <class 'float'>

 `Question:` 
> - num_int = 123
> - num_str = "456"
> - Add num_int and num_str
- `hint: first need to convert num_str into integer`

In [8]:
# CODE HERE
num_int=123
num_str="456"
print("Addition of 123 and 456 is : {}".format(num_int+int(num_str)))

Addition of 123 and 456 is : 579

Addition of 123 and 456 is :  579

### Advanced Questions

> `Question:` The volume of a sphere with radius r is  4/3Ï€r3  . What is the volume of a sphere with radius 5?

In [9]:
# CODE HERE
r=5
volume=(4/3)*(22/7)*r**3
print(volume)

523.8095238095237

> `Question:` Suppose the cover price of a book is Rs.24.95, but bookstores get a 40% discount. Shipping costs Rs.3 for the first copy and 75 paise for each additional copy. What is the total wholesale cost for 60 copies?

In [10]:
# CODE HERE
cover_price=24.65
after_discount=24.65*60/100
shipping=3+59*0.75
print("total wholesale cost for 60 copies: {}".format(60*after_discount+shipping))

total wholesale cost for 60 copies: 934.65

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)