In [1]:
# Assignment create a column to create percentage based on Math, reading and writing score
# based on percentage column take out male scored more than 50%
# based on percentage column take out male scored less than 50%
# same as above for female
# how many female candidates are there
# how many male candidates are there
# from this data find out how many students parent level educations are batchelors degree

In [2]:
# if we want to find unique values in a column we can use unique() function
#data["lunch"].unique()

# how many males in standard lunch
# how many males in free lunch
# how many females in standard lunch
# how many females in free lunch

In [7]:
import pandas as pd

In [47]:
perform=pd.read_csv(r"C:\Users\Subhadra\Documents\Python Scripts\StudentsPerformance.csv")
perform["percentage"]=(perform["math score"]+perform["reading score"]+perform["writing score"])/3
perform

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,percentage
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,94.000000
996,male,group C,high school,free/reduced,none,62,55,55,57.333333
997,female,group C,high school,free/reduced,completed,59,71,65,65.000000
998,female,group D,some college,standard,completed,68,78,77,74.333333
999,female,group D,some college,free/reduced,none,77,86,86,83.000000

In [29]:
# Male students with percentage greater than 50%
mG50=perform.loc[(perform["percentage"]>50)&(perform["gender"]=="male")].shape
print("Male students with percentage greater than 50: ",mG50[0])

Male students with percentage greater than 50:  417

In [30]:
# Male students with percentage less than or equal to 50%
mL50=perform.loc[(perform["percentage"]<=50)&(perform["gender"]=="male")].shape
print("Male students with percentage less than or equal to 50: ",mL50[0])

Male students with percentage less than or equal to 50:  65

In [31]:
# Female students with percentage greater than 50%
fG50=perform.loc[(perform["percentage"]>50)&(perform["gender"]=="female")].shape
print("Female students with percentage greater than 50: ",fG50[0])

Female students with percentage greater than 50:  474

In [32]:
# Female students with percentage less than or equal to 50%
fL50=perform.loc[(perform["percentage"]<=50)&(perform["gender"]=="female")].shape
print("Female students with percentage less than or equal to 50: ",fL50[0])

Female students with percentage less than or equal to 50:  44

In [33]:
# Total number of Female Candidates
fT=perform.loc[perform["gender"]=="female"].shape
print("Total female students: ",fT[0])

Total female students:  518

In [36]:
# Total number of Male Candidates
mT=perform.loc[perform["gender"]=="male"].shape
print("Total male students: ",mT[0])

Total male students:  482

In [37]:
#Total students with parent level education of batchelors degree
sPB=perform.loc[perform["parental level of education"]=="bachelor's degree"].shape
print("Total students with parents Bachelor degree: ",sPB[0])

Total students with parents Bachelor degree:  118

In [43]:
# how many males in standard lunch
mSL=perform.loc[(perform["lunch"]=="standard")&(perform["gender"]=="male")].shape
print("Total male students with standard lunch: ",mSL[0])

Total male students with standard lunch:  316

In [44]:
# how many females in standard lunch
fSL=perform.loc[(perform["lunch"]=="standard")&(perform["gender"]=="female")].shape
print("Total female students with standard lunch: ",fSL[0])

Total female students with standard lunch:  329

In [45]:
# how many males in free/reduced lunch
mFL=perform.loc[(perform["lunch"]=="free/reduced")&(perform["gender"]=="male")].shape
print("Total male students with free/reduced lunch: ",mFL[0])

Total male students with free/reduced lunch:  166

In [46]:
# how many females in free/reduced lunch
fFL=perform.loc[(perform["lunch"]=="free/reduced")&(perform["gender"]=="female")].shape
print("Total female students with free/reduced lunch: ",fFL[0])

Total female students with free/reduced lunch:  189